.no-text-decoration{
    text-decoration: none;
}
.no-text-decoration:hover {
    color: rgba(255, 255, 255, 0.42);
}
td .no-text-decoration:hover {
    color: rgb(143, 211, 195);
}

.table-success-light {
    --bs-table-bg: #95eccb;
    --bs-table-striped-bg: #86eac1;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #84d3b4;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #97f9d1;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #98d7be;
}
.table-warning-ligth {
    --bs-table-bg: #ffc87a;
    --bs-table-striped-bg: #ecb86d;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #f4a62a;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #f1cf9a;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #eece9d;
}