{% extends 'base.html.twig' %}

{% block title %}Pasiūlymo siuntimas{% endblock %}

{% block body %}
    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Sukurti pasiūlymą</h1>
        <hr class="m-0">
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {{ include('common/job-card.html.twig') }}
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <div class="card border">
                            <div class="card-header">Pasiūlymo forma</div>
                            <div class="card-body">
                                <form class="needs-validation" method="POST" action="{{ url('send_offer_handle', {id: job.id}) }}">
                                    <div class="row g-3">
                                        <div class="col-sm-12">
                                            <label for="exampleTextarea" class="form-label">Žinutė klientui</label>
                                            <textarea class="form-control" id="exampleTextarea" rows="3" required name="text"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="price" class="form-label">Kaina (EUR)</label>
                                            <input id="price" type="number" class="form-control" placeholder="" value="" required name="amount">
                                        </div>
                                        <hr class="mb-0">
                                        <button class="w-100 btn btn-primary btn-lg" type="submit">Siųsti pasiūlymą</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
